<script>
	var cxt = '${cxt!}';
</script>
<#assign user=_USER_ />
<header class="main-header">
    <a href="#" class="logo">
      	<span class="logo-mini"><b>${_STITLE_!}</b></span>
      	<span class="logo-lg"><b>${_TITLE_!}</b></span>
    </a>
    <nav class="navbar navbar-static-top" role="navigation" >
     	<a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        	<span class="sr-only">Toggle navigation</span>
      	</a>
      	<div class="navbar-custom-menu">
	        <ul class="nav navbar-nav">
	          <li class="dropdown user user-menu">
	            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
	            <img src="${cxt!}${user.avatar!}" class="user-image" alt="User Image">
	              <span class="hidden-xs">${user.userid!}</span>
	            </a>
	            <ul class="dropdown-menu">
	              <li class="user-header">
	               <img src="${cxt!}${user.avatar!}" class="img-circle" alt="User Image"> 
	                <p>
	                  <span></span>
	                  <br/>
	                  <small>创建时间：${user.inputtime?number_to_date?string("yyyy年MM月dd日")}</small>
	                </p>
	              </li>
	              <li class="user-footer">
	                <div class="pull-right">
	                	<a href="${cxt!}/goEditPwd" class="btn btn-default btn-flat">修改密码</a>
	                  	<a href="javascript:;" onclick="base.logout()" class="btn btn-danger btn-flat">安全退出</a>
	                </div>
	              </li>
	            </ul>
	          </li>
	        </ul>
      	</div>
    </nav>
</header>
<aside class="main-sidebar">
    <section class="sidebar">
      	<div class="user-panel">
	        <div class="pull-left image">
	        <img src=${cxt!}${user.avatar!} class="img-circle" alt="User Image">
	        </div>
	        <div class="pull-left info">
	          <p>你好！${user.name!}</p>
	          <a href="#"><i class="fa fa-circle text-success"></i>  Online</a>
	        </div>
      	</div>
      	<!-- Sidebar Menu -->
      	<ul class="sidebar-menu">
			<#list user.dataMap.menuList as item>
				<#if user.dataMap.moduleListMap[item.menuid]??>
					<li class="treeview <#if MENUID?? && MENUID==item.menuid>active</#if>">
						<a href="#"><i class="fa ${item.icon!}"></i> <span>${item.name!}</span>
			            <span class="pull-right-container">
			             	<i class="fa fa-angle-left pull-right"></i>
			            </span>
			          	</a>
			         	<ul class="treeview-menu">
			         		<#list user.dataMap.moduleListMap[item.menuid] as module> 
			         			<#if module.state==1>
			            			<li class="<#if PATH==module.key>active</#if>"><a href="${cxt!}${module.key!}">${module.name!}</a></li>
			            		</#if>
			         		</#list>
			          	</ul>
			        </li>
				<#else>
					<li><a href="#"><i class="fa fa-link"></i> <span>${item.name!}</span></a></li>					
				</#if>
			</#list>
      	</ul>
    </section>
</aside>