<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>客服消息 | ${_TITLE_!}</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="${cxt!}/addon/select2/select2.min.css">
  <link rel="stylesheet" href="${cxt!}/addon/webUploader/webuploader.css">
  <link rel="stylesheet" href="${cxt!}/addon/datepicker/datepicker3.css">
  <#include "/template/inc/inc.html">
</head>
<body class="hold-transition skin-blue sidebar-mini">
  <div class="wrapper">
    <#include "/template/inc/header.html">
    <div class="content-wrapper">
        <!--content header-->
        <section class="content-header">
          <ol class="breadcrumb" style="left: 10px;">
            <li>运营管理</li>
            <li>客服消息</li>
            <li class="active">组合修改</li>
          </ol>
          <h1><small></small></h1>
        </section>
        <!--/content header-->
      
        <#if !data??><#assign data={}/></#if>
        <section class="content">
            <!-- Your Page Content Here -->
            <div class="box box-primary">
              <div class="box-header">
                  <div class="sequence_list am-text-sm">
                    <div class="box-tools">
                      <button id="btn_content_add_txt" type="button" class="btn btn-primary">添加文字项</button>
                      <button id="btn_content_add_img" type="button" class="btn btn-primary">添加图片项</button>
                    </div>
                  </div>
              </div>
              <div class="box-body">
                  <input type="hidden" id="seqid" value="${data.seqid!}" />
                  <div class="row">
                      <div class="col-md-6">
                          <div class="form-group">
                            <label>规则名称</label>
                            <input class="form-control" type="text" id="name" value="${data.name!}" placeholder="请输入规则名称">
                          </div>
                          <div class="form-group">
											<button onclick="doBookByStar()" type="button" class="btn btn-default">发送定时</button>
										</div>
                      </div>
                      
                  </div>
                <!-- /.row -->
              </div>
              <div class="box-body">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                          <td width="5%">编号</td>
                          <td>内容</td>
                          <td width="10%">操作</td>
                        </tr>
                    </thead>
                    <tbody id="tbody">
                      <#if contentList??>
                        <#list contentList as item>
                        <tr>
                          <td class="tr_index">${item_index+1!}</td>
                          <#if item.type=="image">
                            <td>
															<a href="javascript:;" id="${item_index!}">
																<#if item.content?index_of("http") == 0 >
																	<img width="100" height="100" class="img-responsive pad" data-picUrl="${item.content!}" src="${item.content!}" alt="封面">
																<#else>
																	<img width="100" height="100" class="img-responsive pad" data-picUrl="${item.content!}" src="${cxt!}${item.content!}" alt="封面">
																</#if>
															</a>
														</td>
                          <#elseif item.type=="text">
                            <td><textarea rows="5" type="text" class="form-control" maxlength="500" placeholder="添加文字内容...">${item.content!}</textarea></td>
                          </#if>
                          <td><a href="javascript:;" onclick="removeTr(this)" class="text-red"><i class="fa fa-close"></i>删除</a></td>
                        </tr>
                        </#list>
                      <#else>
                        <tr>
                          <td class="tr_index">1</td>
                          <td><a href="javascript:;" id="0"><img width="100" height="100" class="img-responsive pad" src="${cxt!}/addon/admin/img/default.png" alt="封面"></a><span></span></td>
                          <td><a href="javascript:;" onclick="removeTr(this)" class="text-red"><i class="fa fa-close"></i>删除</a></td>
                        </tr>
                      </#if>
                    </tbody>
                  </table>
              </div>
              <!-- /.box-body -->
              <div class="box-footer">
                <a id="submit" class="btn btn-primary">提交</a>
              </div>
            </div>
        </section>
    </div>
    <#include "/template/inc/footer.html">
  </div>
  <script src="${cxt!}/addon/input-mask/jquery.inputmask.js"></script>
  <script src="${cxt!}/addon/input-mask/jquery.inputmask.date.extensions.js"></script>
  <script src="${cxt!}/addon/webUploader/webuploader.js"></script>
  <script src="${cxt!}/addon/Sortable/Sortable.min.js"></script>
  <script src="${cxt!}/addon/datepicker/bootstrap-datepicker.js"></script>
	<script src="${cxt!}/addon/datepicker/locales/bootstrap-datepicker.zh-CN.js"></script>
	<script src="${cxt!}/addon/timepicker/bootstrap-timepicker.min.js"></script>
  <script type="text/javascript">
    var uploader;
  	var type;
		var time;
  
  
  		function doBookByStar() {
				var html = '';
				html += '<div class="form-group">';
				html += '  <div class="bootstrap-timepicker">';
				html += '    <input id="media_id" style="display: none;" >';
				html += '    <div class="form-group">';
				html += '        <input name="bookdate" type="radio" class="iradio_minimal-blue" value="0" checked />今天';
				html += '        <input name="bookdate" type="radio" class="iradio_minimal-blue" value="1"/>未来';
				html += '    </div>';
				html += '    <div class="form-group dateTest">';
				html += '      <div class="input-group">';
				html += '        <input type="text" class="form-control timepicker">';
				html += '        <div class="input-group-addon">';
				html += '          <i class="fa fa-clock-o"></i>';
				html += '        </div>';
				html += '      </div>';
				html += '    </div>';

				html += '    <div class="form-group dateTest" style="display:none;">';
				html += ' 	<div class="input-group date">';
				html += ' 							<div class="input-group-addon">';
				html += ' 								<i class="fa fa-calendar"></i>';
				html += ' 							</div>';
				html += ' 							<input type="text" id="datepicker" class="form-control">';
				html += ' 						</div>';
				html += '    </div>';

				html += '    <div class="form-group dateTest" style="display:none;">';
				html += '      <div class="input-group">';
				html += '        <input type="text" class="form-control timepicker2">';
				html += '        <div class="input-group-addon">';
				html += '          <i class="fa fa-clock-o"></i>';
				html += '        </div>';
				html += '      </div>';
				html += '    </div>';

				html += '  </div>';
				html += '</div>';
				layer.open({
					title: '客服定时推送',
					area: ['360px', '320px'],
					content: html,
					success: function() {
						$(".timepicker").timepicker({
							showMeridian: false,
							maxHours: 24,
							defaultTime: '06:00',
							showInputs: false
						})
						$(".timepicker").focus();

						datepicker = $("#datepicker").datepicker({
							language: "zh-CN",
							autoclose: true,
							format: "yyyy-mm-dd"
						})

						$(".timepicker2").timepicker({
							showMeridian: false,
							maxHours: 24,
							defaultTime: '06:00',
							showInputs: false
						})

						$('input:radio[name="bookdate"]').change(function() {
							if(this.value == 0) {
								$(".dateTest").eq(0).css('display', 'block');
								$(".dateTest").eq(1).css('display', 'none');
								$(".dateTest").eq(2).css('display', 'none');
							} else if(this.value == 1) {
								$(".dateTest").eq(0).css('display', 'none');
								$(".dateTest").eq(1).css('display', 'block');
								$(".dateTest").eq(2).css('display', 'block');
							}
						});

					},
					yes: function() {
						type = $('input:radio[name="bookdate"]:checked').val();
						//var type = $('input:radio[name="bookdate"]:checked').val();
						//var time = "";
						if(type == 0) {
							time = $(".timepicker").val();
						} else {
							var dateStr = datepicker.datepicker("getDate");
							var inputtimeStr = "";
							if(!isNaN(dateStr)) {
								inputtimeStr = dateStr.Format("yyyy-MM-dd");
							}

							var timepicker2 = $(".timepicker2").val();
							time = inputtimeStr + " " + timepicker2;
						}
						
						
						
						
						layer.closeAll();
					}
					
					
				});
			}
  
    $(document).ready(function() {
        //Uploader
        for(var i=0;i<$("tbody").children().length;i++) {
            uploaderLoad("#"+i);
        }
        
        //Sortable
        new Sortable($("tbody").get(0),{animation: 150, onUpdate: function() {
            refreshIndex();
          }
        });
      
        $("#submit").on("click", function() {
            var name = $("#name").val();
            if(!name) {
                layer.msg("请输入规则名称！", {icon: 0});
                return;
            }
            var arr = [];
            var childs = $("tbody").children();
            for(var i=0;i<childs.length;i++) {
                var tds = $(childs[i]).find("td");
                if($(tds[1]).find("img")[0]) {
                  var content = $(tds[1]).find("img").attr("data-picUrl");
                  if(!content) {
                      layer.msg("请上传图片，第"+(i+1)+"项", {icon: 0});
                      return
                  }
                  arr.push({
                      type: 'image',
                      content: content
                  })
                }else if($(tds[1]).find("textarea")[0]) {
                  var content = $(tds[1]).find("textarea").val();
                  if(!content) {
                      layer.msg("请输入文字内容，第"+(i+1)+"项", {icon: 0});
                      return
                  }
                  arr.push({
                      type: 'text',
                      content: content
                  })
                }
            }
            
            var seqid = $("#seqid").val();
            var ajaxUrl = "${cxt!}/tkkefumsg/doAdd";
            if(seqid) {
              ajaxUrl = "${cxt!}/tkkefumsg/doEdit";
            }
            ajaxPost(ajaxUrl, {
              seqid: seqid,
              name: name,
              type: 2,
              content: JSON.stringify(arr),
            	time:time,
							date:type,
							appid:"${appid!}"
            }, function(rtn) {
              if(rtn.code!=1) {
                layer.msg(JSON.stringify(rtn), {icon: 2});
                return;
              }
              layer.alert("提交成功！请关闭页面并刷新列表", {icon: 1}, function() {
                window.opener = null;
                window.close();
              });
            })
        })
        
        $("#btn_content_add_img").click(function() {
            if($("tbody").children().length>8) {
                layer.msg("最多可配置8个！", {icon: 0});
                return;
            }
            var html = '<tr>';
            html += '  <td class="tr_index"></td>';
            html += '  <td><a href="javascript:;" class="filePick"><img width="100" height="100" class="img-responsive pad" src="${cxt!}/addon/admin/img/default.png" alt="封面"></a><span></span></td>';
            html += '  <td><a href="javascript:;" onclick="removeTr(this)" class="text-red"><i class="fa fa-close"></i>删除</a></td>';
            html += '</tr>';
            $("tbody").append(html);
            setTimeout("refreshIndex()", 100);
        })
        
        $("#btn_content_add_txt").click(function() {
            if($("tbody").children().length>8) {
                layer.msg("最多可配置8个！", {icon: 0});
                return;
            }
            var html = '<tr>';
            html += '  <td class="tr_index"></td>';
            html += '  <td><textarea rows="5" type="text" class="form-control" maxlength="500" placeholder="添加文字内容..."></textarea></td>';
            html += '  <td><a href="javascript:;" onclick="removeTr(this)" class="text-red"><i class="fa fa-close"></i>删除</a></td>';
            html += '</tr>';
            $("tbody").append(html);
            setTimeout("refreshIndex()", 100);
        })
    })
    
    //刷新编号
    function refreshIndex() {
        var childs = $(".tr_index");
        for (var i=0;i<childs.length;i++) {
          $(childs[i]).text(i+1);
          $(childs[i]).next().find("a").attr("id", i);
          uploaderLoad('#'+i);
        }
    }
    
    function removeTr(evt) {
        if($("tbody").children().length<=1) {
            layer.msg("最少需要一项！", {icon: 0});
            return;
        }
        $(evt).parent().parent().remove();
        refreshIndex($(""));
    }
    
    function uploaderLoad(select) {
      //上传
      uploader = WebUploader.create({
          auto: true,  // 选完文件后，是否自动上传
          swf: '${cxt!}/plugins/webUploader/Uploader.swf',
          server: '${cxt!}/sysext/doUpload',
          pick: select
      });
      
      uploader.on('beforeFileQueued', function(file) {
          $img = $(select).find("img");
          uploader.makeThumb( file, function( error, src ) {
              if(error) {
                  $(select).next().html("不能预览");
                  return;
              }
              $img.attr('src', src);
          });
      });
      uploader.on('fileQueued', function(file) {
          $(select).next().html(file.name);
      });
      uploader.on('uploadProgress', function( file, percentage ) {
          $(select).next().html('正在上传...<span class="text-blue">'+file.name+'</span>'+ Math.floor(percentage* 100)+ '%');  
      });
      uploader.on('uploadSuccess', function( file, rtn ) {
          if(rtn.code!=1) {
            layer.msg(JSON.stringify(rtn), {icon: 2})
            return;
          }
          $(select).next().html('上传成功！<span class="text-blue">'+file.name+'</span>');
          $(select).find("img").attr("data-picUrl", rtn.data);
      });
      uploader.on('uploadError', function( file ) {
          layer.msg("上传失败", {icon: 2})
      });
    }
    
  </script>
</body>
</html>
