<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>订单详情 | ${_TITLE_!}</title>
		<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
		<link rel="stylesheet" href="${cxt!}/addon/select2/select2.min.css">
		<link rel="stylesheet" href="${cxt!}/addon/jQueryPage/jquery.page.css">
		<link rel="stylesheet" href="${cxt!}/addon/iCheck/all.css">
		<link rel="stylesheet" href="${cxt!}/addon/timepicker/bootstrap-timepicker.min.css">
		<#include "/template/inc/inc.html">
	</head>

	<body class="hold-transition skin-blue sidebar-mini">
		<div class="wrapper">
			<#include "/template/inc/header.html">
				<div class="content-wrapper">
					<!--content header-->
					<section class="content-header">
						<ol class="breadcrumb" style="left: 10px;">
							<li>订单详情</li>
							<li class="active">订单详情</li>
						</ol>
						<h1><small></small></h1>
					</section>
					<!--/content header-->

					<section class="content">
						<!-- Your Page Content Here -->
						<div class="row">
							<div class="col-xs-12">
								<div class="box box-primary">

									<div class="box-header">
										<form action="${cxt!}/orderinfo/goItemList">
											<div class="row">
												
												<div class="col-md-2">
													<select name="appid" class="form-control">
														<option value="">选择公众号</option>
														<#list mpList as item>
															<option value="${item.appid!}" <#if appid=item.appid>selected</#if>>${item.name!}</option>
														</#list>
													</select>
												</div>
												
												<div class="col-md-2">
													<select name="tkstatus" class="select2 form-control">
														<option value=0>选择状态</option>
														<option value=3>订单结算</option>
														<option value=12>订单付款</option>
														<option value=13>订单失效</option>
														<option value=14>订单成功</option>
													</select>
												</div>
												
												<div class="col-md-2">
													<input id="page_pno" name="pno" type="hidden" value="${page.pno!}" />
													<input type="hidden" name="userid" value="${userid!}" />
													<button id="search" type="submit" class="btn btn-default">查询</button>
												</div>
												<div class="col-md-6">
													<div class="pull-right">
                            <a href="${cxt!}/orderinfo/goInvaildList" target="_blank" class="btn btn-default">失效</a>
													</div>
												</div>
											</div>
										</form>
									</div>

									<div class="box-body" style="overflow-x: auto;">
										<div class="dataTables_wrapper form-inline dt-bootstrap">
											<div class="row">
												<div class="col-sm-12">
													<table class="table table-bordered table-hover">
														<tbody>
															<tr style="white-space:nowrap;">
																<th>订单时间</th>
																<th>订单号</th>
																<th>公众号</th>
																<th>商品</th>
																<th>付款</th>
																<th>佣金</th>
																<th>佣金率</th>
																<th>状态</th>
																<th>返利</th>
																<th>返利率</th>
																<th>结算</th>
																<th>绑定</th>
																<th>verno</th>
																<th>推广位</th>
															</tr>
															<#list dataList as item>
																<tr style="white-space:nowrap;">
																	<td>${item.tradetime?number_to_date?string("yyyy-MM-dd HH:mm:ss")}</td>
																	<td>${item.tradeidENC!}</td>
																	<td>${item.mpname!}</td>
                                  <td><a href="https://item.taobao.com/item.htm?id=${item.itemid!}" target="_blank">${item.itemtitle!}</a></td>
																	<td>${item.tradeprice!}</td>
																	<td>${item.trademoney!}</td>
																	<td>${item.traderate?string('0.0#')}</td>
																	<td>
																		<#if item.tkstatus==3>
																			<span class="text-green">订单结算</span>
																			<#elseif item.tkstatus==12>
																				<span class="text-yellow">订单付款</span>
																				<#elseif item.tkstatus==13>
																					<span class="text-red">订单失效</span>
																					<#elseif item.tkstatus==14>
																						<span class="text-green">订单成功</span>
																		</#if>
																	</td>
																	<td>${item.jiemoney?string('0.0#')}</td>
																	<td>${item.jierate?string('0.0#')}</td>
																	<td>
																		<#if item.tkstatus==item.state>
																			<span class="text-green">已处理</span>
																				<#else>
																					<span class="text-red">未处理</span>
																		</#if>
																	</td>

																	<td>
																		<#if item.userid!="">
																			<#if item.autobind==1>
																				<span class="text-red">自动</span>
																				<#elseif item.autobind==0>
																					<span>手动</span>
																			</#if>
																		</#if>
																	</td>
                                  
                                  <td>
                                  	<#if item.state==3>
                                  		<span>${item.verno3}</span>
                                  		<#elseif item.state==12>
                                  			<span>${item.verno12}</span>
                                  			<#elseif item.state==13>
                                  				<span>${item.verno13}</span>
                                  	</#if>
                                  </td>
                                  <td>${item.pidname!}</td>
																</tr>
															</#list>
														</tbody>
													</table>
												</div>
											</div>
											<#if dataList.size()==0>
												<div style="text-align:center;">
													<p class="text-yellow"><i class="icon fa fa-warning"></i>&nbsp;没有查询到符合条件的数据！</p>
												</div>
												<hr />
											</#if>
										</div>
										<#if (page.pcount>0)>
											<div>
												<div class="tcdPageCode pull-right" style="padding: 0;"></div>
												<span class="pull-right">共查询到&nbsp;<span style="color: red;">${page.count}</span>&nbsp;条相关数据&nbsp;</span>
											</div>
										</#if>
									</div>
									<!-- /.box-body -->
								</div>
								<!-- /.box -->
							</div>
						</div>
					</section>
				</div>
				<#include "/template/inc/footer.html">
		</div>
		<script src="${cxt!}/addon/jQueryPage/jquery.page.js"></script>
		<script src="${cxt!}/addon/select2/select2.full.min.js"></script>
		<script src="${cxt!}/addon/iCheck/icheck.min.js"></script>
		<script src="${cxt!}/addon/timepicker/bootstrap-timepicker.min.js"></script>
		<script src="${cxt!}/addon/datepicker/bootstrap-datepicker.js"></script>
		<script src="${cxt!}/addon/datepicker/locales/bootstrap-datepicker.zh-CN.js"></script>
		<script>
			var checkList = [];
			var datepicker;
			$(document).ready(function() {
				var datepicker = $("#datepicker").datepicker({
					language: "zh-CN",
					autoclose: true,
					format: "yyyy-mm-dd"
				})
				datepicker.datepicker("setDate", '${refDateStr!}');

				if($("table").width() < 1000) {
					$(".box-body").css("overflow", "auto");
				}

				//分页
				$(".tcdPageCode").createPage({
					pageCount: ${
						page.pcount!
					},
					current: ${
						page.pno!
					},
					backFn: function(n) {
						$('#page_pno').val(n);
						$('#search').click();
					}
				});
        
			})

		</script>
	</body>

</html>