<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>首页 | ${_TITLE_!}</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<#include "inc/inc.html">
</head>
<body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper"> 
		<#include "inc/header.html">
	  <div class="content-wrapper">
	  		<!--<div style="padding: 20px 30px; background: rgb(243, 156, 18); z-index: 999999; font-size: 16px; font-weight: 600;">
	  			<a class="pull-right" href="#" data-toggle="tooltip" data-placement="left" title="" style="color: rgb(255, 255, 255); font-size: 20px;" data-original-title="Never show me this again!">×</a>
	  			<a href="#" style="color: rgba(255, 255, 255, 0.901961); display: inline-block; margin-right: 10px; text-decoration: none;">
	  				Ready to sell your theme? Submit your theme to our new marketplace now and let over 200k visitors see it!
	  			</a>
	  			<a class="btn btn-default btn-sm" href="#" style="margin-top: -5px; border: 0px; box-shadow: none; color: rgb(243, 156, 18); font-weight: 600; background: rgb(255, 255, 255);">Let's Do It!</a>
	  		</div>-->
		    <section class="content">
		    </section>
	  </div>
	  <#include "inc/footer.html">
	</div>
</body>
</html>
