<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 1.0 Transitional//EN">
<html>

	<head>
		<title>旅游分销平台</title>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<link rel="stylesheet" type="text/css" href="https://saas.zowoyoo.com/css/global.css">
		<script type="text/javascript" language="JavaScript" src="https://saas.zowoyoo.com/js/currency/currency_utils.js"></script>
	</head>

	<body>
		<script language="JavaScript" type="text/javascript" src="/js/jquery.js"></script>
		<script language="javascript" src="/js/doubleDatePicker.js"></script>
		<script type='text/javascript'>
			$(function() {
				$('#sdate').doubleDatePicker({
					minDate: '2012-01-01'
				});
				$('#edate').doubleDatePicker({
					minDate: '2012-01-01'
				});
			});
		</script>
		<style>
		div.control-bar {
				background: none repeat scroll 0 0 #F9F9FA;
				border-right: 0 none;
			}
			
			div.date-select-bar {
				font-size: 12px;
				height: 30px;
				overflow: hidden;
				padding: 10px;
			}
			
			div.date-select-bar .l {
				float: left;
			}
			
			div.date-select-bar a.cur {
				background: none repeat scroll 0 0 #5B6ECD;
				border: 1px solid #2E308A;
				color: #FFFFFF;
				padding: 2px 8px;
				text-decoration: none;
			}
			
			div.date-select-bar a {
				display: inline-block;
				margin: 0 10px 0 0;
				overflow: hidden;
				padding: 4px 8px;
				text-decoration: underline;
			}
			
			input.date {
				font-family: Arial;
				font-size: 12px;
				vertical-align: middle;
				width: 160px;
			}
			
			div.date-select-bar img {
				cursor: pointer;
			}
		}
		</style><br>
		<table width="98%" border="0" cellspacing="0" cellpadding="0" align="center">
			<tr>
				<td width="60%" height="18">当前位置：&nbsp;
					<a href="/b2b/prod_list.jsp">产品预订</a> > 产品下架情况</td>
			</tr>
			<tr>
				<td height="2" bgcolor="#003333"></td>
			</tr>
		</table><br><br>
		<table width="98%" border="0" cellspacing="0" cellpadding="0" align="center">
			<tr>
				<td>
					<form action="prod_log.jsp" method="post">
						<div class="control-bar">
							<div id="DateSelectBar" class="date-select-bar">
								<div class="l">
									<a href="prod_log.jsp?sdate=2019-07-08&edate=2019-07-08&s=1">本周</a>
									<a href="prod_log.jsp?sdate=2019-07-01&edate=2019-07-08&s=1">本月</a>
								</div>
								<div class="l"> 选择任意时段： <input type="text" id="sdate" name="sdate" value="2019-07-08" class="date" /> &nbsp;到&nbsp; <input type="text" id="edate" name="edate" value="2019-07-08" class="date" /> <input type="submit" name="search" value="提 交" class="button"> <input type="hidden" name="s" value="1"> </div>
							</div>
						</div>
					</form> <br/>
					<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="l_detail">
						<tr>
							<th width="80"><b>产品编号</b></th>
							<th width="600"><b>产品标题</b></th>
						</tr>
						<tr>
							<td><b>25115068</b></td>
							<td>长鹿农庄夜场儿童/长者票1张</td>
						</tr>
						<tr>
							<td><b>25115039</b></td>
							<td>长鹿农庄夜场成人票1张</td>
						</tr>
						<tr>
							<td><b>25114715</b></td>
							<td>秦皇岛秦皇国际大酒店（酷芽亲子房） 小鸡彩虹·酷芽亲子房（2大1小早餐）</td>
						</tr>
						<tr>
							<td><b>25114679</b></td>
							<td>长隆横琴湾酒店（海洋王国店） 3天2晚双人无忧亲子营：度假园景大床房2晚+海豚自助午餐2份+海豚自助晚餐2份/晚+海洋王国2日游门票2张+马戏普通座门票2张+横琴湾水...</td>
						</tr>
						<tr>
							<td><b>25114665</b></td>
							<td>东莞帝豪花园酒店 萌猪驾到！东莞帝豪花园猪猪侠·酷芽亲子房+双早双晚超值美食套餐限时抢购！</td>
						</tr>
						<tr>
							<td><b>25114664</b></td>
							<td>长隆横琴湾酒店（海洋王国店） 3天2晚双人无忧亲子营：度假园景双床房2晚+海豚自助午餐2份+海豚自助晚餐2份/晚+海洋王国2日游门票2张+马戏普通座门票2张+横琴湾水...</td>
						</tr>
						<tr>
							<td><b>25114645</b></td>
							<td>长隆横琴湾酒店（海洋王国店） 3天2晚双人无忧亲子营：度假海景双床房2晚+海豚自助午餐2份+海豚自助晚餐2份/晚+海洋王国2日游门票2张+马戏普通座门票2张+横琴湾水...</td>
						</tr>
						<tr>
							<td><b>25114629</b></td>
							<td>长隆横琴湾酒店（海洋王国店） 3天2晚双人无忧亲子营：豪华园景双床房2晚+海豚自助午餐2份+海豚自助晚餐2份/晚+海洋王国2日游门票2张+马戏普通座门票2张+横琴湾水...</td>
						</tr>
						<tr>
							<td><b>25114617</b></td>
							<td>长隆横琴湾酒店（海洋王国店） 3天2晚双人无忧亲子营：豪华园景大床房2晚+海豚自助午餐2份+海豚自助晚餐2份/晚+海洋王国2日游门票2张+马戏普通座门票2张+横琴湾水...</td>
						</tr>
						<tr>
							<td><b>25114605</b></td>
							<td>长隆横琴湾酒店（海洋王国店） 3天2晚双人无忧亲子营：度假海景大床房2晚+海豚自助午餐2份+海豚自助晚餐2份/晚+海洋王国2日游门票2张+马戏普通座门票2张+横琴湾水...</td>
						</tr>
						<tr>
							<td><b>25114602</b></td>
							<td>长隆横琴湾酒店（海洋王国店） 3天2晚双人无忧亲子营：家庭大床房2晚+海豚自助午餐2份+海豚自助晚餐2份/晚+海洋王国2日游门票2张+马戏普通座门票2张+横琴湾水世界门票2张</td>
						</tr>
						<tr>
							<td><b>25114577</b></td>
							<td>长隆横琴湾酒店（海洋王国店） 3天2晚2大1小无忧亲子营：豪华园景双床房2晚+海豚自助午餐3份+海豚自助晚餐3份/晚+海洋王国2日游门票3张+马戏普通座门票3张+横琴湾水世界...</td>
						</tr>
						<tr>
							<td><b>25114571</b></td>
							<td>长隆横琴湾酒店（海洋王国店） 3天2晚2大1小无忧亲子营：度假园景双床房2晚+海豚自助午餐3份+海豚自助晚餐3份/晚+海洋王国2日游门票3张+马戏普通座门票3张+横琴湾水世界...</td>
						</tr>
						<tr>
							<td><b>25114565</b></td>
							<td>长隆横琴湾酒店（海洋王国店） 3天2晚2大1小无忧亲子营：豪华园景大床房2晚+海豚自助午餐3份+海豚自助晚餐3份/晚+海洋王国2日游门票3张+马戏普通座门票3张+横琴湾水世界...</td>
						</tr>
						<tr>
							<td><b>25114559</b></td>
							<td>长隆横琴湾酒店（海洋王国店） 3天2晚2大1小无忧亲子营：度假园景大床房2晚+海豚自助午餐3份+海豚自助晚餐3份/晚+海洋王国2日游门票3张+马戏普通座门票3张+横琴湾水世界...</td>
						</tr>
						<tr>
							<td><b>25114545</b></td>
							<td>长隆横琴湾酒店（海洋王国店） 3天2晚2大1小无忧亲子营：度假海景双床房2晚+海豚自助午餐3份+海豚自助晚餐3份/晚+海洋王国2日游门票3张+马戏普通座门票3张+横琴湾水世界...</td>
						</tr>
						<tr>
							<td><b>25114540</b></td>
							<td>长隆横琴湾酒店（海洋王国店） 3天2晚2大1小无忧亲子营：度假海景大床房2晚+海豚自助午餐3份+海豚自助晚餐3份/晚+海洋王国2日游门票3张+马戏普通座门票3张+横琴湾水世界...</td>
						</tr>
						<tr>
							<td><b>25114527</b></td>
							<td>长隆横琴湾酒店（海洋王国店） 3天2晚2大1小无忧亲子营：家庭大床房2晚+海豚自助午餐3份+海豚自助晚餐3份/晚+海洋王国2日游门票3张+马戏普通座门票3张+横琴湾水世界...</td>
						</tr>
						<tr>
							<td><b>25114513</b></td>
							<td>长隆马戏酒店（珠海海洋王国店） 3天2晚双人无忧亲子营：杂技双床房2晚+慕尼黑餐吧午餐2份+马戏餐厅自助晚餐2份+兴隆茶餐厅晚餐2份+海洋王国2日游门票2张+马戏普...</td>
						</tr>
						<tr>
							<td><b>25114500</b></td>
							<td>长隆马戏酒店（珠海海洋王国店） 3天2晚双人无忧亲子营：杂技大床房2晚+慕尼黑餐吧午餐2份+马戏餐厅自助晚餐2份+兴隆茶餐厅晚餐2份+海洋王国2日游门票2张+马戏普...</td>
						</tr>
						<tr>
							<td><b>25114496</b></td>
							<td>长隆马戏酒店（珠海海洋王国店） 3天2晚双人无忧亲子营：魔术双床房2晚+慕尼黑餐吧午餐2份+马戏餐厅自助晚餐2份+兴隆茶餐厅晚餐2份+海洋王国2日游门票2张+马戏普...</td>
						</tr>
						<tr>
							<td><b>25114478</b></td>
							<td>长隆马戏酒店（珠海海洋王国店） 3天2晚双人无忧亲子营：魔术大床房2晚+慕尼黑餐吧午餐2份+马戏餐厅自助晚餐2份+兴隆茶餐厅晚餐2份+海洋王国2日游门票2张+马戏普...</td>
						</tr>
						<tr>
							<td><b>25114476</b></td>
							<td>长隆马戏酒店（珠海海洋王国店） 3天2晚双人无忧亲子营：奇趣大床房2晚+慕尼黑餐吧午餐2份+马戏餐厅自助晚餐2份+兴隆茶餐厅晚餐2份+海洋王国2日游门票2张+马戏普...</td>
						</tr>
						<tr>
							<td><b>25114461</b></td>
							<td>长隆马戏酒店（珠海海洋王国店） 3天2晚双人无忧亲子营：马戏家庭房2晚+慕尼黑餐吧午餐2份+马戏餐厅自助晚餐2份+兴隆茶餐厅晚餐2份+海洋王国2日游门票2张+马戏普...</td>
						</tr>
						<tr>
							<td><b>25114460</b></td>
							<td>长隆马戏酒店（珠海海洋王国店） 3天2晚双人无忧亲子营：奇趣双床房2晚+慕尼黑餐吧午餐2份+马戏餐厅自助晚餐2份+兴隆茶餐厅晚餐2份+海洋王国2日游门票2张+马戏普...</td>
						</tr>
						<tr>
							<td><b>25114451</b></td>
							<td>长隆马戏酒店（珠海海洋王国店） 3天2晚2大1小无忧亲子营：杂技双床房2晚+慕尼黑餐吧午餐3份+马戏餐厅自助晚餐3份+兴隆茶餐厅晚餐3份+海洋王国2日游门票3张+马戏普...</td>
						</tr>
						<tr>
							<td><b>25114419</b></td>
							<td>长隆马戏酒店（珠海海洋王国店） 3天2晚2大1小无忧亲子营：杂技大床房2晚+慕尼黑餐吧午餐3份+马戏餐厅自助晚餐3份+兴隆茶餐厅晚餐3份+海洋王国2日游门票3张+马戏普...</td>
						</tr>
						<tr>
							<td><b>25114408</b></td>
							<td>长隆马戏酒店（珠海海洋王国店） 3天2晚2大1小无忧亲子营：魔术双床房2晚+慕尼黑餐吧午餐3份+马戏餐厅自助晚餐3份+兴隆茶餐厅晚餐3份+海洋王国2日游门票3张+马戏普...</td>
						</tr>
						<tr>
							<td><b>25114392</b></td>
							<td>长隆马戏酒店（珠海海洋王国店） 3天2晚2大1小无忧亲子营：魔术大床房2晚+慕尼黑餐吧午餐3份+马戏餐厅自助晚餐3份+兴隆茶餐厅晚餐3份+海洋王国2日游门票3张+马戏普...</td>
						</tr>
						<tr>
							<td><b>25114388</b></td>
							<td>长隆马戏酒店（珠海海洋王国店） 3天2晚2大1小无忧亲子营：奇趣双床房2晚+慕尼黑餐吧午餐3份+马戏餐厅自助晚餐3份+兴隆茶餐厅晚餐3份+海洋王国2日游门票3张+马戏普...</td>
						</tr>
						<tr>
							<td><b>25114373</b></td>
							<td>长隆马戏酒店（珠海海洋王国店） 3天2晚2大1小无忧亲子营：奇趣大床房2晚+慕尼黑餐吧午餐3份+马戏餐厅自助晚餐3份+兴隆茶餐厅晚餐3份+海洋王国2日游门票3张+马戏普...</td>
						</tr>
						<tr>
							<td><b>25114363</b></td>
							<td>长隆马戏酒店（珠海海洋王国店） 3天2晚2大1小无忧亲子营：马戏家庭房2晚+慕尼黑餐吧午餐3份+马戏餐厅自助晚餐3份+兴隆茶餐厅晚餐3份+海洋王国2日游门票3张+马戏普...</td>
						</tr>
						<tr>
							<td><b>25114349</b></td>
							<td>美的鹭湖汽车营地酒店 【鹭湖水世界夜场套票】双人房车1晚+探索王国水世界夜场门票2张</td>
						</tr>
						<tr>
							<td><b>25114316</b></td>
							<td>【限时优惠】宝墨园成人票</td>
						</tr>
						<tr>
							<td><b>25114300</b></td>
							<td>美的鹭湖汽车营地酒店 【鹭湖水世界夜场套票】情侣木屋别墅1晚（大床）+探索王国水世界夜场门票2张</td>
						</tr>
						<tr>
							<td><b>25114294</b></td>
							<td>美的鹭湖汽车营地酒店 【鹭湖水世界夜场套票】情侣木屋别墅套房1晚（大床）+探索王国水世界夜场门票2张</td>
						</tr>
						<tr>
							<td><b>25114275</b></td>
							<td>美的鹭湖汽车营地酒店 【鹭湖水世界夜场套票】家庭木屋别墅1晚（2房1厅）+探索王国水世界夜场门票2张</td>
						</tr>
						<tr>
							<td><b>25114261</b></td>
							<td>美的鹭湖汽车营地酒店 【温泉套票】双人房车1晚+鹭湖半山温泉门票2张</td>
						</tr>
						<tr>
							<td><b>25114252</b></td>
							<td>美的鹭湖汽车营地酒店 【温泉套票】情侣木屋别墅1晚（大床）+鹭湖半山温泉门票2张</td>
						</tr>
						<tr>
							<td><b>25114245</b></td>
							<td>美的鹭湖汽车营地酒店 【温泉套票】情侣木屋别墅套房1晚（大床）+鹭湖半山温泉门票2张</td>
						</tr>
						<tr>
							<td><b>25114240</b></td>
							<td>美的鹭湖汽车营地酒店 双人房车1晚</td>
						</tr>
						<tr>
							<td><b>25114235</b></td>
							<td>美的鹭湖汽车营地酒店 【温泉套票】家庭木屋别墅1晚（2房1厅）+鹭湖半山温泉门票6张</td>
						</tr>
						<tr>
							<td><b>25114201</b></td>
							<td>美的鹭湖汽车营地酒店 家庭木屋别墅1晚（2房1厅）</td>
						</tr>
						<tr>
							<td><b>25114142</b></td>
							<td>美的鹭湖汽车营地酒店 情侣木屋别墅1晚（大床）</td>
						</tr>
						<tr>
							<td><b>25114080</b></td>
							<td>美的鹭湖汽车营地酒店 情侣木屋别墅套房1晚（大床）</td>
						</tr>
						<tr>
							<td><b>25114057</b></td>
							<td>珠海长隆企鹅酒店 双人单园游：极地大床房1晚+自助午餐2份+海洋王国2日游门票2张</td>
						</tr>
						<tr>
							<td><b>25114045</b></td>
							<td>珠海长隆企鹅酒店 2大1小/3大亲子单园游：探险大床房1晚+海洋王国2日游门票3张</td>
						</tr>
						<tr>
							<td><b>25114036</b></td>
							<td>珠海长隆企鹅酒店 双人单园游：温带大床房1晚+自助午餐2份+海洋王国2日游门票2张</td>
						</tr>
						<tr>
							<td><b>25114029</b></td>
							<td>珠海长隆企鹅酒店 双人单园游：探险大床房1晚+自助午餐2份+海洋王国2日游门票2张</td>
						</tr>
						<tr>
							<td><b>25114026</b></td>
							<td>珠海长隆企鹅酒店 双人单园游：温带大床房1晚+自助晚餐2份+海洋王国2日游门票2张</td>
						</tr>
						<tr>
							<td><b>25114015</b></td>
							<td>珠海长隆企鹅酒店 双人单园游：探险大床房1晚+海洋王国2日游门票2张</td>
						</tr>
						<tr>
							<td><b>25113969</b></td>
							<td>珠海长隆企鹅酒店 2大1小/3大亲子单园游：温带大床房1晚+自助午餐3份+海洋王国2日游门票3张</td>
						</tr>
						<tr>
							<td><b>25113965</b></td>
							<td>珠海长隆企鹅酒店 2大1小/3大亲子单园游：极地大床房1晚+自助午餐3份+海洋王国2日游门票3张</td>
						</tr>
						<tr>
							<td><b>25113930</b></td>
							<td>珠海长隆企鹅酒店 双人双园游：极地大床房1晚+自助午餐2份+海洋王国2日游&马戏普通座一票通门票2张</td>
						</tr>
						<tr>
							<td><b>25113901</b></td>
							<td>珠海长隆企鹅酒店 2大1小/3大亲子单园游：探险大床房1晚+自助午餐3份+海洋王国2日游门票3张</td>
						</tr>
						<tr>
							<td><b>25113899</b></td>
							<td>珠海长隆企鹅酒店 双人双园游：探险大床房1晚+自助午餐2份+海洋王国2日游&马戏普通座一票通门票2张</td>
						</tr>
						<tr>
							<td><b>25113887</b></td>
							<td>珠海长隆企鹅酒店 2大1小/3大亲子双园游：极地大床房1晚+自助午餐3份+海洋王国2日游&马戏普通座一票通门票3张</td>
						</tr>
						<tr>
							<td><b>25113867</b></td>
							<td>珠海长隆企鹅酒店 2大1小/3大亲子双园游：探险大床房1晚+自助午餐3份+海洋王国2日游&马戏普通座一票通门票3张</td>
						</tr>
						<tr>
							<td><b>25113864</b></td>
							<td>珠海长隆企鹅酒店 双人双园游：温带大床房1晚+自助午餐2份+海洋王国2日游&马戏普通座一票通门票2张</td>
						</tr>
						<tr>
							<td><b>25113793</b></td>
							<td>珠海长隆企鹅酒店 2大1小/3大亲子双园游：温带大床房1晚+自助午餐3份+海洋王国2日游&马戏普通座一票通门票3张</td>
						</tr>
						<tr>
							<td><b>25113778</b></td>
							<td>珠海长隆企鹅酒店 双人双园游：极地大床房1晚+自助晚餐2份+海洋王国2日游&马戏普通座一票通门票2张</td>
						</tr>
						<tr>
							<td><b>25113768</b></td>
							<td>珠海长隆企鹅酒店 2大1小/3大亲子双园游：极地大床房1晚+自助晚餐3份+海洋王国2日游&马戏普通座一票通门票3张</td>
						</tr>
						<tr>
							<td><b>25113740</b></td>
							<td>珠海长隆企鹅酒店 双人双园游：温带大床房1晚+自助晚餐2份+海洋王国2日游&马戏普通座一票通门票2张</td>
						</tr>
						<tr>
							<td><b>25113725</b></td>
							<td>珠海长隆企鹅酒店 2大1小/3大亲子双园游：温带大床房1晚+自助晚餐3份+海洋王国2日游&马戏普通座一票通门票3张</td>
						</tr>
						<tr>
							<td><b>25113724</b></td>
							<td>珠海长隆企鹅酒店 双人双园游：探险大床房1晚+自助晚餐2份+海洋王国2日游&马戏普通座一票通门票2张</td>
						</tr>
						<tr>
							<td><b>25113723</b></td>
							<td>珠海长隆企鹅酒店 两晚双人双园游：极地大床房2晚+自助午餐2份+海洋王国2日游&马戏普通座一票通门票2张</td>
						</tr>
						<tr>
							<td><b>25113644</b></td>
							<td>珠海长隆企鹅酒店 两晚2大1小/3大亲子双园游：探险大床房2晚+自助午餐3份+海洋王国2日游&马戏普通座一票通门票3张</td>
						</tr>
						<tr>
							<td><b>25113641</b></td>
							<td>珠海长隆企鹅酒店 两晚双人双园游：探险大床房2晚+自助午餐2份+海洋王国2日游&马戏普通座一票通门票2张</td>
						</tr>
						<tr>
							<td><b>25113603</b></td>
							<td>珠海长隆企鹅酒店 2大1小/3大亲子双园游：探险大床房1晚+自助晚餐3份+海洋王国2日游&马戏普通座一票通门票3张</td>
						</tr>
						<tr>
							<td><b>25113587</b></td>
							<td>珠海长隆企鹅酒店 两晚双人双园游：极地大床房2晚+自助晚餐2份+海洋王国2日游&马戏普通座一票通门票2张</td>
						</tr>
						<tr>
							<td><b>25113583</b></td>
							<td>珠海长隆企鹅酒店 两晚2大1小/3大亲子双园游：极地大床房2晚+自助午餐3份+海洋王国2日游&马戏普通座一票通门票3张</td>
						</tr>
						<tr>
							<td><b>25113573</b></td>
							<td>珠海长隆企鹅酒店 两晚双人双园游：温带大床房2晚+自助午餐2份+海洋王国2日游&马戏普通座一票通门票2张</td>
						</tr>
						<tr>
							<td><b>25113533</b></td>
							<td>珠海长隆企鹅酒店 两晚双人双园游：温带大床房2晚+自助晚餐2份+海洋王国2日游&马戏普通座一票通门票2张</td>
						</tr>
						<tr>
							<td><b>25113523</b></td>
							<td>珠海长隆企鹅酒店 两晚2大1小/3大亲子双园游：温带大床房2晚+自助午餐3份+海洋王国2日游&马戏普通座一票通门票3张</td>
						</tr>
						<tr>
							<td><b>25113503</b></td>
							<td>珠海长隆企鹅酒店 两晚双人双园游：探险大床房2晚+自助晚餐2份+海洋王国2日游&马戏普通座一票通门票2张</td>
						</tr>
						<tr>
							<td><b>25113450</b></td>
							<td>珠海长隆企鹅酒店 两晚2大1小/3大亲子双园游：极地大床房2晚+自助晚餐3份+海洋王国2日游&马戏普通座一票通门票3张</td>
						</tr>
						<tr>
							<td><b>25113400</b></td>
							<td>珠海长隆企鹅酒店 3天2晚双人无忧亲子营：极地双床房2晚+食街午餐2份+帝企鹅自助晚餐2份+喷泉广场餐厅晚餐2份+海洋王国2日游门票2张+马戏普通座门票2张+横琴湾水世...</td>
						</tr>
						<tr>
							<td><b>25113395</b></td>
							<td>珠海长隆企鹅酒店 两晚2大1小/3大亲子双园游：温带大床房2晚+自助晚餐3份+海洋王国2日游&马戏普通座一票通门票3张</td>
						</tr>
						<tr>
							<td><b>25113379</b></td>
							<td>珠海长隆企鹅酒店 两晚2大1小/3大亲子双园游：探险大床房2晚+自助晚餐3份+海洋王国2日游&马戏普通座一票通门票3张</td>
						</tr>
						<tr>
							<td><b>25113336</b></td>
							<td>珠海长隆企鹅酒店 3天2晚双人无忧亲子营：极地大床房2晚+食街午餐2份+帝企鹅自助晚餐2份+喷泉广场餐厅晚餐2份+海洋王国2日游门票2张+马戏普通座门票2张+横琴湾水世...</td>
						</tr>
						<tr>
							<td><b>25113316</b></td>
							<td>珠海长隆企鹅酒店 3天2晚双人无忧亲子营：温带大床房2晚+食街午餐2份+帝企鹅自助晚餐2份+喷泉广场餐厅晚餐2份+海洋王国2日游门票2张+马戏普通座门票2张+横琴湾水世...</td>
						</tr>
						<tr>
							<td><b>25113304</b></td>
							<td>珠海长隆企鹅酒店 3天2晚双人无忧亲子营：温带双床房2晚+食街午餐2份+帝企鹅自助晚餐2份+喷泉广场餐厅晚餐2份+海洋王国2日游门票2张+马戏普通座门票2张+横琴湾水世...</td>
						</tr>
						<tr>
							<td><b>25113264</b></td>
							<td>广州融创万达嘉华酒店 【常规】高级豪华大床房-含双早</td>
						</tr>
						<tr>
							<td><b>25113249</b></td>
							<td>广州融创万达嘉华酒店 【常规】豪华大床房-含双早</td>
						</tr>
						<tr>
							<td><b>25113248</b></td>
							<td>广州融创万达嘉华酒店 【常规】高级豪华双床房-含双早</td>
						</tr>
						<tr>
							<td><b>25113237</b></td>
							<td>广州融创万达嘉华酒店 【常规】豪华双床房-含双早</td>
						</tr>
						<tr>
							<td><b>25113230</b></td>
							<td>珠海长隆企鹅酒店 3天2晚双人无忧亲子营：探险双床房2晚+食街午餐2份+帝企鹅自助晚餐2份+喷泉广场餐厅晚餐2份+海洋王国2日游门票2张+马戏普通座门票2张+横琴湾水世...</td>
						</tr>
						<tr>
							<td><b>25113199</b></td>
							<td>珠海长隆企鹅酒店 3天2晚双人无忧亲子营：探险大床房2晚+食街午餐2份+帝企鹅自助晚餐2份+喷泉广场餐厅晚餐2份+海洋王国2日游门票2张+马戏普通座门票2张+横琴湾水世...</td>
						</tr>
						<tr>
							<td><b>25113145</b></td>
							<td>珠海长隆企鹅酒店 3天2晚双人无忧亲子营：企鹅家庭房2晚+食街午餐2份+帝企鹅自助晚餐2份+喷泉广场餐厅晚餐2份+海洋王国2日游门票2张+马戏普通座门票2张+横琴湾水世...</td>
						</tr>
						<tr>
							<td><b>25113124</b></td>
							<td>珠海长隆企鹅酒店 3天2晚2大1小无忧亲子营：极地大床房2晚+食街午餐3份+帝企鹅自助晚餐3份+喷泉广场餐厅晚餐3份+海洋王国2日游门票3张+马戏普通座门票3张+横琴湾水...</td>
						</tr>
						<tr>
							<td><b>25113120</b></td>
							<td>珠海长隆企鹅酒店 3天2晚2大1小无忧亲子营：极地双床房2晚+食街午餐3份+帝企鹅自助晚餐3份+喷泉广场餐厅晚餐3份+海洋王国2日游门票3张+马戏普通座门票3张+横琴湾水...</td>
						</tr>
						<tr>
							<td><b>25113087</b></td>
							<td>珠海长隆企鹅酒店 3天2晚2大1小无忧亲子营：温带双床房2晚+食街午餐3份+帝企鹅自助晚餐3份+喷泉广场餐厅晚餐3份+海洋王国2日游门票3张+马戏普通座门票3张+横琴湾水...</td>
						</tr>
						<tr>
							<td><b>25113085</b></td>
							<td>珠海长隆企鹅酒店 3天2晚2大1小无忧亲子营：温带大床房2晚+食街午餐3份+帝企鹅自助晚餐3份+喷泉广场餐厅晚餐3份+海洋王国2日游门票3张+马戏普通座门票3张+横琴湾水...</td>
						</tr>
						<tr>
							<td><b>25113022</b></td>
							<td>珠海长隆企鹅酒店 3天2晚2大1小无忧亲子营：探险双床房2晚+食街午餐3份+帝企鹅自助晚餐3份+喷泉广场餐厅晚餐3份+海洋王国2日游门票3张+马戏普通座门票3张+横琴湾水...</td>
						</tr>
						<tr>
							<td><b>25113012</b></td>
							<td>珠海长隆企鹅酒店 3天2晚2大1小无忧亲子营：探险大床房2晚+食街午餐3份+帝企鹅自助晚餐3份+喷泉广场餐厅晚餐3份+海洋王国2日游门票3张+马戏普通座门票3张+横琴湾水...</td>
						</tr>
						<tr>
							<td><b>25112997</b></td>
							<td>珠海长隆企鹅酒店 3天2晚2大1小无忧亲子营：企鹅家庭房2晚+食街午餐3份+帝企鹅自助晚餐3份+喷泉广场餐厅晚餐3份+海洋王国2日游门票3张+马戏普通座门票3张+横琴湾水...</td>
						</tr>
						<tr>
							<td><b>25112633</b></td>
							<td>宝墨园+南粤苑成人套票（暑期活动）</td>
						</tr>
						<tr>
							<td><b>25112529</b></td>
							<td>阳江海陵岛闸坡北洛秘境度假酒店 悦海别墅1晚（4房1厅）+无边际泳池门票8张</td>
						</tr>
						<tr>
							<td><b>25112056</b></td>
							<td>【升级开业活动票】冒险岛（软球射击+皮划艇+互动奔跑墙）</td>
						</tr>
						<tr>
							<td><b>25111556</b></td>
							<td>暑期特惠·20:00演出送动物园+冰雪世界（7月6-14日使用）</td>
						</tr>
						<tr>
							<td><b>25111350</b></td>
							<td>暑期特惠·17:00演出送动物园+冰雪世界（7月6-14日使用）</td>
						</tr>
						<tr>
							<td><b>25111349</b></td>
							<td>暑期特惠·14:00演出送动物园+冰雪世界（7月6-14日使用）</td>
						</tr>
						<tr>
							<td><b>25095724</b></td>
							<td>【清凉一夏】爆！29.9元1大1小畅玩水上四大主题乐园，还有梦幻泡泡秀，夏日清凉避暑尽在番禺格林东庄~</td>
						</tr>
						<tr>
							<td><b>23107750</b></td>
							<td>瑶台汤泉门票（ 成人票）</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
		</form>